@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* estilo gral en todas las paginas */

* {
    color: dodgerblue;
}


/* estilo boby */

.body {
    background-color: black;
    min-height: 100vh;
    padding: 5px;
    ;
}


/* estilo barra navegacion */


/*contenedor padre*/

.navContainer {
    background-color: black;
    padding: 10px;
    border: 2px solid dodgerblue;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Inconsolata', monospace;
    font-size: 2vh;
}

h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 4vh;
    text-align: center;
}

h2 {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}

.description {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.5vh;
    margin: 1vh 4vh 1vh 4vh;
    text-align: justify;
    text-justify: inter-word;
}

.imagenNav {
    padding: 10px;
    width: 70px;
    height: auto;
}

.listaContainer {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    gap: 10px;
}


/* estilos seccion productos */


/*container padre*/

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
    margin: 0px 20px 0px 20px;
}


/*grid item*/

.imagenProd {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid;
}


/* estilo footer */

.footer {
    bottom: 0;
    width: 100%;
}

.footerContainer {
    background-color: black;
    padding: 10px;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 2vh;
}

.navFooter {
    width: 30%;
    flex-grow: 2;
    align-items: center;
}

.listaFooter {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logoFooter {
    padding: 10px;
    width: 70px;
    height: auto;
}


/*estilo contacto*/

.formulario-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    margin-top: 90px;
}

.info-formulario {
    width: 100%;
    border: 2px solid;
    padding: 10px;
}

.formulario-container h2 {
    margin-bottom: 15px;
    font-size: 35px;
}

.formulario-container p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.formulario-container a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: dodgerblue;
    font-weight: 700;
}

.icono {
    width: 20px;
    height: auto;
}

.info {
    padding: 10px;
}

.formulario {
    max-width: 25em;
    padding: 1.3em;
    margin: 0 auto;
    background-color: rgbas(120, 119, 123, 0.3);
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(226, 221, 221, 0.85);
    /*
    width: 100%;
    border: 2px solid;
    padding: 15px 10px;
    font-size: 15px;
    border: 3px solid;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    */
}

.campo {
    opacity: 0.2;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
}

.btn-enviar {
    opacity: 0.5;
    background-color: dodgerblue;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
}

.textarea-form {
    opacity: 0.2;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
}


/* ------------------------ estilos seccion productos -------------------------*/

.imagenPro {
    width: 200px;
    height: auto;
    border: 2px solid dodgerblue;
}


/* ------------------------ estilos seccion nosotros -------------------------*/

.nosotros_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infor_container {
    display: flex;
    flex-direction: column;
    font-family: 'Didact Gothic', sans-serif;
}

.info,
.imagenes_info {
    flex-basis: 50%;
}

.imagenes_info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .infor_container{
    display: flex;
    border: solid dodgerblue;
    justify-content: center;
    flex-direction: row;
} */

.imagenes_info {
    width: 300px;
    height: auto;
}

.iconos_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Didact Gothic', sans-serif;
}

.titulo_nosotros {
    order: -1;
    margin-bottom: 0;
}

.mapa_nosotros {
    width: 100%;
    bottom: 0;
    left: 0;
}

.mapa-container iframe {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.img_nosotros {
    padding: 10px;
    background-color: black;
    width: 70px;
    height: auto;
    backdrop-filter: blur(50px);
    opacity: 0.8;
}

h3 {
    font-family: 'Inconsolata', monospace;
}

.carousel-container {
    width: 80%;
    /* Ajusta el ancho del contenedor del carrusel según tus necesidades */
    margin: 0 auto;
    /* Centra el carrusel horizontalmente */
}

.carousel-img {
    height: 400px;
    /* Ajusta la altura deseada para las imágenes */
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para que cubra todo el contenedor sin distorsionarse */
}

/* Estilos para la sección de Carrito de Compras y Finalizar Compra */
.carritoContainer {
    padding: 20px;
    border: 2px solid dodgerblue;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.finalizarCompra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

#total {
    font-weight: bold;
}

#finalizarCompraBtn {
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#finalizarCompraBtn:hover {
    background-color: #0073e6;
}
