@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
#main-body {
    margin: 1vw 0vw;
}

#barra-lateral {
    height: 100%;
    width: 100%;
    background-color: dodgerblue;
    z-index: 1;
    top: 0;
    margin-left: 1vw;
    padding: 1vw 0.5vw;
    overflow: hidden;
}

button.active {
    text-shadow: 1px 4px 10px rgb(26, 56, 79);
    font-style: italic;
    margin: 2px;
    border-radius: 10px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

#titulo-menu {
    color: black;
    font-size: 1.3vw;
    font-weight: bolder;
    padding: 0vw 1vw;
}

.nav-item {
    color: dodgerblue;
}

.nav-item:hover {
    letter-spacing: 1px;
    font-weight: bold;
}

.navitem-barra {
    background-color: rgb(80, 172, 238);
    margin: 2px;
    border-radius: 10px;
}

.card {
    margin: 20px;
}

.contentWrapper {
    background-color: rgb(11, 24, 34);
    padding: 2vh 1vw;
}