{% extends 'layout.html'%} {% block body %}
<!--icono carrito-->
<div class="cart">
    <button id="botonCarrito" class="btn-carrito" data-bs-toggle="modal" data-bs-target="#modalCarrito">
        <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <span id="item_total">0</span>
</div>

<!-- Modal carrito vacío -->
<div class="modal fade" id="modalCarrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Carrito</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="bodyCarrito">
                <p class="p-size">Carrito vacio</p>
            </div>
            <div id="btnModal" class="modal-footer"></div>
        </div>
    </div>
</div>
{% endblock%}