{% extends 'layout.html'%} {% block body %}
<!--menu principal-->
<main>
    <h1>LUGIA DESIGN</h1>
    <h2>Productos Destacados</h2>
    <!--seccion productos -->
    <section class="productosContainer">
        <div class="productos">
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioNegroV2.jpeg')}}" alt="EscritorioBlanco2" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioBlancoT.jpeg')}}" alt="escritorioBlancoT" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioNegroT.jpeg')}}" alt="escritorioNegroT" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioNegroV.jpeg')}}" alt="escritorioNegroV" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioNeVH.jpeg')}}" alt="escritorioNeVH" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/EscritorioBlanco2.jpeg')}}" alt="EscritorioBlanco2" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioRoNeH.jpeg')}}" alt="escritorioRoNeH" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioBlH.jpeg')}}" alt="escritorioBlH" class="imagenProd">

            </div>
            <div class="productoItem">
                <img src="{{url_for('static', filename='Imagenes/escritorioBlRH.jpeg')}}" alt="escritorioBlRH" class="imagenProd">

            </div>
        </div>

    </section>
    <!-- fin seccion productos-->


    <p class="description">Nuestros escritorios están diseñados para que desbloquees el siguiente nivel de confort en tu hogar para superar a tus adversarios. Está diseñado no sólo para todas tus necesidades de juego, sino que también puede ser un estudio multifuncional o estación
        de trabajo. Son diseños minimalistas, prácticos y funcionales que pueden personalizarse a tus necesidades particulares. Además, incluye iluminación LED para que tus partidas sean más vívidas y emocionantes.</p>

    <!--seccion dos-->
    <section>

    </section>

</main>
<!-- fin main -->
{% endblock%}