{% extends 'layout.html'%} {% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='./css/estilo-pagUsuario.css')}}">
<div class="row" id="main-body">
    <div class="wrapper col-2">
        <div class="buttonWrapper" id="barra-lateral">
            <ul class="nav flex-column">
                <p id="titulo-menu">Menú</p>
                <li class="nav-item">
                    <button class="nav-link tab-button active" data-id="info">Mi información</button></li>
                <li class="nav-item">
                    <button class="nav-link tab-button" data-id="pedidos">Mis pedidos</button></li>
                <li class="nav-item">
                    <button class="nav-link tab-button" data-id="deseos">Mi lista de deseos</button></li>
            </ul>
        </div>
    </div>
    <div class="contentWrapper col-10">
        <div class="content active" id="info">
            {% for user in session["current_user"] %}
            <table class="table">

                <button type="button" class="btn btn-primary">Editar datos</button>
                <tr>
                    <td>Usuario</td>
                    <td>{{user.user}}</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>CUIL</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>{{user.phone}}</td>
                </tr>
                <tr>
                    <td>Provincia</td>
                    <td>{{user.province}}</td>
                </tr>

                <tr>
                    <td>Dirección</td>
                    <td>{{user.address}}</td>
                </tr>
                <tr>
                    <td>Contraseña</td>
                    <td>**********
                        <button type="button" class="btn btn-primary">Cambiar contraseña</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <div class="content" id="pedidos">
            <table class="table">
                <tr>
                    <th>Número de pedido</th>
                    <th>Fecha de pedido</th>
                    <th>Estado</th>
                    <th>Detalle de productos</th>
                    <th>Medio de pago</th>
                </tr>
                <tr>
                    <td>#23</td>
                    <td>01-05-2023</td>
                    <td>En tránsito</td>
                    <td>1 Escritorio gamer</td>
                    <td>Transferencia bancaria</td>
                </tr>
                <tr>
                    <td>#23</td>
                    <td>01-05-2023</td>
                    <td>En tránsito</td>
                    <td>1 Escritorio gamer</td>
                    <td>Transferencia bancaria</td>
                </tr>
                <tr>
                    <td>#23</td>
                    <td>01-05-2023</td>
                    <td>En tránsito</td>
                    <td>1 Escritorio gamer</td>
                    <td>Transferencia bancaria</td>
                </tr>
                <tr>
                    <td>#23</td>
                    <td>01-05-2023</td>
                    <td>En tránsito</td>
                    <td>1 Escritorio gamer</td>
                    <td>Transferencia bancaria</td>
                </tr>
                <tr>
                    <td>#23</td>
                    <td>01-05-2023</td>
                    <td>En tránsito</td>
                    <td>1 Escritorio gamer</td>
                    <td>Transferencia bancaria</td>
                </tr>
            </table>

        </div>

        <div class="content" id="deseos">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img src="{{url_for('static', filename='Imagenes/escritorioBlancoT.jpeg')}}" class="card-img-top" alt="Escritorio gamer blanco.">
                        <div class="card-body">
                            <h5 class="card-title">Escritorio 1</h5>
                            <p class="card-text">Info sobre escritorio</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="{{url_for('static', filename='./Imagenes/escritorioNegroRHor.jpeg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Escritorio 2</h5>
                            <p class="card-text">Info sobre escritorio</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="{{url_for('static', filename='./Imagenes/escritorioNegroV2.jpeg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Escritorio 3</h5>
                            <p class="card-text">Info sobre escritorio</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='./js/pagUsuario.js')}}"></script>
{% endblock%}