{% extends 'layout.html'%} {% block body %}

<body>
    <div class="container-fluid">
        <div id="allcards" class="row">
            {% for product in products %}
            <div class="card col-lg-4 col-12">
                <h2>{{ product.name }}</h2>
                <img src="{{url_for('static', filename='Imagenes/' + product.imagen)}}"
                    alt="{{ product.imagen.split('.')[0] }}" class="imagenProd">
                <p class="p-size">{{ product.price }}</p>
                <button class="btn add-to-cart">Agregar</button>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock%}